*{
  box-sizing: border-box;
  font-family: Mont, sans-serif;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

.flow {
  width: 100vw;
  height: 100vh;
}

.button {
  width: 125px;
  height: 40px;
  background-color: white;
}

.button:hover{
   background-color: whitesmoke;
}

.aside{
  background-color: white;
  width: 160px;
  height: 200px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 100px;
}

.visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
